@import url("@/styles/tokens.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	*,
	*::after,
	*::before {
		margin: 0;
		padding: 0;
		border-color: var(--color-gray-200);
	}

	:root,
	body {
		block-size: 100%;
	}

	:root {
		background-color: var(--color-white);
		color: var(--color-gray-900);
		font-family: var(--font-family-body);
		overflow-wrap: break-word;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		text-size-adjust: none;
		-webkit-tap-highlight-color: transparent;
		interpolate-size: allow-keywords;
	}

	:focus {
		/** Transparent outline. */
		@apply outline-none;
	}

	:focus-visible {
		@apply outline outline-2 outline-primary-700 outline-offset-2;
	}

	blockquote {
		text-wrap: balance;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		font-family: var(--font-family-heading);
		text-wrap: balance;
	}

	iframe {
		border: 0;
	}

	input[type="search"]:is(
			::-webkit-search-cancel-button,
			::-webkit-search-decoration,
			::-webkit-search-results-button,
			::-webkit-search-results-decoration
		) {
		display: none;
	}

	p {
		text-wrap: pretty;
	}

	table {
		font-variant-numeric: tabular-nums;
	}

	textarea {
		field-sizing: content;
		min-block-size: 3lh;
	}

	[id] {
		scroll-margin-block-start: 2ex;
	}

	[inert] ::-webkit-scrollbar {
		display: none;
	}

	/* stylelint-disable-next-line order/order */
	@media (prefers-reduced-motion: reduce) {
		*,
		*::after,
		*::before {
			transition-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			scroll-behavior: auto !important;
		}
	}

	/** Scale up hit targets on high resolution mobile devices. */
	@media (resolution >= 200dpi) {
		:root {
			font-size: 18px;
		}
	}
}
